/* Shlomo Bensimhon 1837702 */

#container{
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #6b6b6b;
    padding: 20px;
    width: 250px;
    height: 250px
}

img{
    margin: auto;
    width: 150px;
    height: 150px;
}

div{
    font-size: large;
    margin: auto;
    width: 200px;
    height: 200px;
}

button{
    margin: auto;
	background-color:#77d42a;
	border-radius:6px;
	border:2px solid #268a16;
	cursor:pointer;
	color:#306108;
	font-size:14px;
	font-weight:bold;
	padding:7px 55px;

}